<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613004691728-a8ovo3dgn824puqkt1um8b3bk063vseh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613004691728-a8ovo3dgn824puqkt1um8b3bk063vseh</string>
	<key>API_KEY</key>
	<string>AIzaSyCKGgj6Q1ERn_b734xHtlP1rYRHRtBZjMI</string>
	<key>GCM_SENDER_ID</key>
	<string>613004691728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krishna.simplynote</string>
	<key>PROJECT_ID</key>
	<string>simply-note-1908</string>
	<key>STORAGE_BUCKET</key>
	<string>simply-note-1908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613004691728:ios:e2138da2ec0c4af6937d95</string>
</dict>
</plist>